/*======Fonts====================================*/
@font-face {
    font-family: fonty;
    src: url(Advercase.otf);
}

/*======Tags=====================================*/
html, body {
  background: url("bg.png") no-repeat center center fixed;
  background-size: cover;
}

a{
	text-decoration: none;
	color: #555;
	font-size: 19px;
	font-family: fonty;
	transition: .2s;
}
a:hover{
	color: #219c7b;
	text-decoration: underline;
}
p{
	padding: .5em;
	font-size: 20px;
	color: #222;
	font-family: fonty;
}
p1{
	font-size: 20px;
	color: #666;
	font-family: fonty;
}
img{
	padding: .7em;
}

/*======Buttons====================================*/
.buttons{
	position: relative;
	text-align: center;
	bottom: 0;
	width: auto;
}
button{
	float: left;
	text-align: center;
	font-size: 12px;	
	border: none;
	color: #444;
	width: 2%;
	background: #f2f2f2;
	outline: 0;
}
button:hover{
	background: #ddd;
	cursor: pointer;
}
button:active{
	background: #ccc;
}

/*======Main UI========================================*/
.holder{
	z-index: 2;
	position: absolute;
	height: 55%;
	width: 8%;
	background: #f0f0f0;
	top: 17.5%;
	margin-left: 20%;
}

.bar-1, .bar-2, .bar-3, .bar-4, .bar-5, .bar-6{
	display: flex;
	position: absolute;
	height: 8%;
	width: 25%;
	margin-left: 18%;
	z-index: 3;
	background: #ffffff;
	box-shadow: 0px 5px 12px rgba(0,0,0,0.15);
	align-items: center;
	transition: 0.25s ease-in-out;
	border-left: 4px solid #ddd;
}
.bar-1:hover, .bar-2:hover, .bar-3:hover, .bar-4:hover, .bar-5:hover{
	width: 60%;
	border-left: solid 4px #219c7b;
	border-right: solid 4px #aaa;
}

.menu-1, .menu-2, .menu-3, .menu-4, .menu-5{
	overflow: hidden;
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
}

.bar-1{ top: 20.5%; }
.bar-2{ top: 30.5%; }
.bar-3{ top: 40.5%; }
.bar-4{ top: 50.5%; }
.bar-5{ top: 60.5%; }
.bar-6{ top: 75.5%; }

/*==Menus==*/
.bar-1:hover .menu-1,
.bar-2:hover .menu-2,
.bar-3:hover .menu-3,
.bar-4:hover .menu-4,
.bar-5:hover .menu-5{
	visibility: visible;
	opacity: 1;
}

/*==P Tags==*/
.bar-1:hover p,
.bar-2:hover p,
.bar-3:hover p,
.bar-4:hover p,
.bar-5:hover p{
	text-decoration: underline;
}

/*=====Search Bar===============================================*/
.search{
    position:absolute;
	margin: 0;
	width: 55%;
	height: auto;
    top:85%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	z-index: 7;
}
input {
    width: 100%;
	text-align: center;
    font-size: 18px;
	color: #222;
    padding: 12px 20px 12px 40px;
    transition: .2s;
	background: #ffffff;
	border: none;
    font-family: fonty;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
input:focus{
    outline-width: 0;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    font-size: 20px;
}

/*======Misc====================================================*/
.back-img{
	margin-left: 15%;
	top: 10%;
	position: absolute;
	z-index: 1;
	background-size: cover;
	height: 70%;
	width: 70%;
	border: 4px solid #ddd;
	transition: .2s;
}
.rotate{
	filter: invert(0%);
	transform: rotate(45deg);
}
