/*------TOC------
--Fonts 		(7-10)
--Tags 			(13-41)
--Buttons 		(44-67)
--UI 			(70-161)
--Search Bar 	(165-192)
--Misc 			(195-210)
-----------------*/

/*======Fonts====================================*/
@font-face {
    font-family: fonty;
    src: url(Advercase.otf);
}
/*======Tags=====================================*/

body{
	background: #121212;
}
html, body {
  background: url("bg.png") no-repeat center center fixed;
  background-size: cover;
}

a{
	text-decoration: none;
	color: darkgrey;
	font-size: 19px;
	font-family: fonty;
	transition: .2s;
}
a:hover{
	color: #219c7b;
	text-decoration: underline;
}
p{
	padding: .5em;
	font-size: 20px;
	color: white;
	font-family: fonty;
}
p1{
	font-size: 20px;
	color: white;
	font-family: fonty;
	color: darkgrey;
}
img{
	padding: .7em;
}
/*======Buttons====================================*/
.buttons{
	position: relative;
	text-align: center;
	bottom: 0;
	width: auto;
}
button{
	border: 1px solid black;
	float: left;
	text-align: center;
	font-size: 12px;	
	border: none;
	color: #787878;
	width: 2%;
	background: #121212;
	outline: 0;
}
button:hover{
	background: #454545;
	cursor: pointer;
}
button:active{
	background: #676767;
}

/*======Main UI========================================*/
.holder{
	z-index: 2;
	position: absolute;
	height: 55%;
	width: 8%;
	background: #232323;
	top: 17.5%;
	margin-left: 20%;
}

.bar-1, .bar-2, .bar-3, .bar-4, .bar-5, .bar-6{
	display: flex;
	position: absolute;
	height: 8%;
	width: 25%;
	margin-left: 18%;
	z-index: 3;
	background: #343434;
	box-shadow: 0px 5px 12px #111111;
	align-items: center;
	transition: 0.25s ease-in-out;
	border-left: 4px solid #343434;
}
.bar-1:hover, .bar-2:hover, .bar-3:hover, .bar-4:hover, .bar-5:hover{
	width: 60%;
	border-left: solid 4px #219c7b;
	border-right: solid 4px #565656;
}
.menu-1, .menu-2, .menu-3, .menu-4, .menu-5{
	overflow: hidden;
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
}
.bar-1{
	top: 20.5%;
}
.bar-2{
	top: 30.5%;
}
.bar-3{
	top: 40.5%;
}
.bar-4{
	top: 50.5%;
}
.bar-5{
	top: 60.5%;
}
.bar-6{
	top: 75.5%;
}
/*==Menus==*/
.bar-1:hover .menu-1{
	visibility: visible;
	opacity: 1;
}
.bar-2:hover .menu-2{
	visibility: visible;
	opacity: 1;
}
.bar-3:hover .menu-3{
	visibility: visible;
	opacity: 1;
}
.bar-4:hover .menu-4{
	visibility: visible;
	opacity: 1;
}
.bar-5:hover .menu-5{
	visibility: visible;
	opacity: 1;
}
/*==P Tags==*/
.bar-1:hover p{
	text-decoration: underline;
}
.bar-2:hover p{
	text-decoration: underline;
}
.bar-3:hover p{
	text-decoration: underline;
}
.bar-4:hover p{
	text-decoration: underline;
}
.bar-5:hover p{
	text-decoration: underline;
}
/*=====Search Bar===============================================*/
.search{
    position:absolute;
	margin: 0;
	width: 55%;
	height: auto;
    top:85%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	z-index: 7;
}
input {
    width: 100%;
	text-align: center;
    font-size: 18px;
	color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	background: #343434;
	transition: .2s;
	border: none;
    font-family: fonty;
}
input:focus{
    outline-width: 0;
	box-shadow: 0px 0px 5px black;
    font-size: 20px;
}
/*======Misc====================================================*/
.back-img{
	margin-left: 15%;
	top: 10%;
	position: absolute;
	z-index: 1;
	background: url(foot.gif);
	background-size: cover;
	height: 70%;
	width: 70%;
	border: 4px solid #343434;
	transition: .2s;
}
.rotate{
	filter: invert(100%);
	transform: rotate(45deg);
}